@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
}

.container {
  padding-right: 170px;
  padding-left: 170px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
}
.header__nav-close {
  padding: 7px 20px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 2rem;
  float: right;
  border-radius: 5px;
  background: red;
  display: none;
}
.header__nav-toggler {
  padding: 7px 10px;
  display: none;
  border: 1px solid;
  border-radius: 5px;
  background: transparent;
}
.header__nav-logo {
  display: flex;
  align-items: center;
  gap: 25px;
  color: #005FA3;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}
.header__nav-menu_contact {
  display: flex;
  gap: 50px;
  list-style: none;
}
.header__nav-menu_contact--item:nth-child(2) {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__nav-menu_contact a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
.header__nav-menu_contact a:hover {
  color: #005FA3;
}
.header__nav-menu_pages {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-top: 15px;
  justify-content: space-between;
}
.header__nav-menu_pages a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.header__nav-menu_pages a:hover {
  color: #005FA3;
}
.header__hero {
  background: url(../images/bg.png) no-repeat center/cover;
  height: 500px;
  padding-left: 200px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 50px;
}
.header__hero h1 {
  color: #fff;
  max-width: 500px;
}
.header__hero button {
  padding: 15px 30px;
  border: none;
  background: #005FA3;
  color: #fff;
}

.show {
  display: block !important;
}

.service {
  padding: 100px 0;
  background: #ebebeb;
}
.service__title {
  margin-bottom: 50px;
}
.service__title h2 {
  font-size: 2rem;
}
.service__title p {
  color: #bdbdbd;
  font-family: sans-serif;
}
.service__cards {
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}
.service__cards-item {
  height: 360px;
  background: #000 url(../images/card-bg.png) no-repeat center/cover;
  color: #fff;
  min-width: 100px;
  display: flex;
  align-items: end;
  padding: 50px;
  font-family: sans-serif;
  font-size: 20px;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}
tekst .service__cards-item:hover {
  transform: scale(102%);
}
.service__cards-item:hover::after {
  opacity: 0.5;
}
.service__cards-item::after {
  transition: 0.5s;
  position: absolute;
  z-index: -1;
  background: #005FA3;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  left: 0;
}
.service .about {
  padding: 50px 0;
  background-color: #f9f9f9;
  margin-top: 140px;
}
.service .about__content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.service .about__info {
  flex: 1;
}
.service .about__info .about__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.service .about__info .about__text {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  font-family: Lato;
  display: flex;
  max-width: 60%;
}
.service .about__stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.service .about__stats-item {
  background: #fff;
  padding: 30px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 255px;
  height: 255px;
}
.service .about__stats-item h1 {
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: Lato;
}
.service .about__stats-item p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #666;
}
.service .about__stats-item .about__stats-link {
  color: #1c6ab8;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  font-family: Lato;
}
.service .about__stats-item :hover {
  color: #1c6ab8;
}
.service .about__stats-items {
  background: #fff;
  padding: 30px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 255px;
  height: 255px;
}
.service .about__stats-items h1 {
  font-family: Lato;
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: 700;
}
.service .about__stats-items p {
  margin-bottom: 15px;
  font-size: 16px;
  color: white;
}
.service .about__stats-items .about__stats-link {
  color: #0066cc;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  font-family: Lato;
}
.service .about__stats-items :hover {
  color: black;
}
.service .about__stats .highlight {
  background: #0066cc;
  color: #fff;
}
.service .about__stats .highlight .about__stats-link {
  color: #fff;
}
.service .about__stats .highlight .about__stats-link p {
  color: white;
}
.service .about__stats .highlight .about__stats-link:hover {
  color: #d1d1d1;
}
.service .clients__info h1 {
  font-family: Merriweather;
  width: 483px;
  height: 47px;
  top: 3029px;
  left: 407px;
  font-size: 48px;
  margin-top: 163px;
  margin-bottom: 80px;
}
.service .clients__companies {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1220px) {
  .service .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 1100px) {
  .service .header__nav {
    justify-content: space-between;
    padding: 25px 40px;
  }
  .service .header__nav-toggler, .service .header__nav-close {
    display: block;
  }
  .service .header__nav-menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #222;
    padding: 50px;
    color: #fff;
  }
  .service .header__nav-menu ul {
    flex-direction: column;
    align-items: center;
  }
  .service .header__nav-menu ul:nth-child(2) {
    margin-top: 50px;
  }
  .service .header__nav-menu a {
    color: #fff;
  }
}
@media screen and (max-width: 1080px) {
  .service .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .service .clients__companies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 950px) {
  .service .header__hero {
    padding-left: 50px;
  }
  .service .service__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .service .about__content {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
  }
  .service .about__stats {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .service .header__nav {
    width: 100%;
  }
}
.service .container {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 600px) {
  .service__title h2 {
    font-size: 1.25rem;
  }
  .service__cards-item {
    font-size: 16px;
    height: 300px;
  }
}
@media screen and (max-width: 550px) {
  .header__hero h1 {
    font-size: 1.5rem;
  }
  .service__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .service__cards-item {
    justify-content: center;
    padding: 50px 20px;
  }
  .clients__companies {
    display: flex;
    flex-direction: column;
  }
  .clients__info {
    text-align: left;
  }
  .clients h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .header__hero {
    padding-left: 20px;
  }
  .header__nav-logo {
    font-size: 1.25rem;
    gap: 10px;
  }
  .about__content {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
  }
  .about__stats {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=main.css.map */